.button {
  width: 100%;
  padding: 1em;
  border: none;
  border-radius: 0.6em;
  color: var(--text-contrast);
  font-weight: 600;
  font-size: 1.5em;
  transition: background-color 0.1s ease-in-out;
}

.start {
  background-color: var(--button-primary);
}

.stop {
  background-color: var(--button-danger);
}
