.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
}

.content {
  display: grid;
  grid-template-rows: 1fr auto;
  box-sizing: border-box;
  gap: 2em;
  padding: 2em;
  height: 100%;
  width: 100%;
}

.top {
  height: min-content;
  display: grid;
  gap: 2em;
}

.button {
  place-self: center;
  align-self: start;
  margin-top: 2em;
}
