.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
}

.content {
  display: grid;
  grid-template-rows: 1fr auto;
  box-sizing: border-box;
  padding: 2em;
  height: 100%;
  width: 100%;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
  padding-bottom: 2em;

  border-bottom: 1px solid var(--border-light);
}

.button {
  place-self: center;
  align-self: start;
  margin-top: 2em;
}
