.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  text-align: center;
}
