:root {
  --bg-default: #f5f6f6;
  --text-default: #1a1b1d;
  --text-contrast: #ffffff;
  --button-primary: #3f7824;
  --button-danger: #bb2d00;
  --border-light: #e2e3e5;

  /* Credit goes to https://systemfontstack.com/ */
  --system-font:
    -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, Cantarell, Ubuntu, roboto, noto, helvetica, arial,
    sans-serif;

  @media (prefers-color-scheme: dark) {
    --bg-default: #1a1b1d;
    --text-default: #f5f6f6;
    --text-contrast: #1a1b1d;
    /* These just look weird
    --button-primary: #90cb62;
    --button-danger: #ffaa97;
    */
    --border-light: #3c3f44;
  }
}

body {
  margin: 0;

  background-color: var(--bg-default);

  font-family: var(--system-font);
  font-size: 20px;
  line-height: normal;
  color: var(--text-default);
}
